body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.brick-pattern {
  /* 1. Define your seamless image or SVG */
  background-image: 
    url('images/Ermine_Spot.svg'),
    url('images/Ermine_Spot.svg');

  /* 2. Crucial: Define the strict width and height of one tile */
  background-size: 288px 384px; 

  /* 3. Stagger the second layer: shift X by half-width (50px), Y by half-height (30px) */
  background-position: 
    0 0, 
    144px 192px;

  /* 4. Ensure both layers tile infinitely */
  background-repeat: repeat;
}

.form-container {
    background-color: white; /* White background for the form */
    margin-bottom: 20px; /* Space between forms */
    text-align: center; /* Center the content inside form container */
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Vertical space between form fields */
    text-align: center; /* Center the content inside form container */
    font-size: 24px;
    font-weight: bold;
}

.form-title {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Vertical space between form fields */
    text-align: center; /* Center the content inside form container */
    font-size: 30px;
    font-weight: bold;
}

table {
			border: 1px solid black;
            border-radius: 5px;
            width: 100%;
            border-collapse: separate;
			margin-left: auto;
			margin-right: auto;
}

tr {
            border: none;
            align-items: center;
            border-spacing: 0, 5px;
}

td {
            border: none;
            text-align: center;
            align-items: center;
}

.outer-table {
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            width: 100%;
            border-collapse: separate;
            border-spacing: 0, 5px;
}

.nested-table {
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            width: 100%;
            border-collapse: separate;
            border-spacing: 0, 5px;
}


input[type="text"],
input[type="date"],
input[type="number"] {
			box-sizing: border-box;
			padding: 10px 15px;
			font-size: 15px;
            width: 75%;
			font-weight: bold;
			border: none;
			border-radius: 5px;
			border: 1px solid black;
            align-items: center;
            text-align: center;
}

button[type="submit"] {
			width: 90%;
			padding: 10px 10px;
			background-color: green;
			color: white;
			border: none;
			border-radius: 5px;
            align-items: center;
            margin: 0 auto; /* Add this line to center the button */
}